*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100vw;
    height: 7vh;
    background-color: #333;
    display: flex;
    flex-direction: row;
    gap: 50%;
    
}

.links {
    padding-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20%;
    align-items: center;
    white-space: nowrap;
}

.navbar-logo h1 {
    padding-left: 80%;
    color: white;
    align-items: center;
    padding-top: 15%;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.title{
    color:black;
    font-size: 1.5rem;
    padding-left: 18rem;
    padding-top: 20rem;
}